<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .current {
            background-color:pink;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    <h3>WUMB Playback v2</h3>
    <div id="lookupcontrols" class="controlbar">
        <span id="lookupPrompt">Chose a time and date for playlist...</span>
        <form onsubmit="return timeForm(event)"><br>
            <label>time:</label>
            <input type="text" name="time" id="playlistFormTime" value="{{paramTime}}">
            <label>date:</label>
            <input type="text" name="date" id="playlistFormDate" value="{{paramDate}}">
            <input type="submit" value="get playlist">
        </form>
        <span id="lookupResults"></span>
    </div>
    <div id="controlbar" class="controlbar">
        <button onclick="previousVideo()"> << Prev</button>
        <button onclick="nextVideo()">Next >> </button>
        <button onclick="playVideo()">Play</button>
        <button onclick="pauseVideo()">Pause</button>
    </div>
    <p></p>
    <div id="player"></div>
    <div id="playlistMain"></div>
    <script src="/script.js"></script>
</body>
</html>